<app-navbar></app-navbar>
<div style="height: 90vh; width: 100%" class="container-fluid dng">
  <div
    class="position-absolute info top-50 start-50 translate-middle flex-column text-white d-flex align-items-center justify-content-evenly"
  >
    <h2>Welcome to My Blog!</h2>
    <h5>We Serve Exquisite Content...</h5>
  </div>
  <div
    style="width: 100px; height: 100px; border: 1px solid aqua"
    class="ball position-absolute text-white rounded-pill d-flex flex-column justify-content-center align-items-center"
  >
    Get Started
  </div>
</div>
<app-default-stories></app-default-stories>
<app-footer></app-footer>
