<app-unav></app-unav>
<div
  style="
    font-family: redressed;
    height: 100vh !important;
    width: 100% !important;
  "
  class="w-100 h-100 d-flex text-white"
>
  <div
    style="
      background: linear-gradient(
        150deg,
        rgb(142, 238, 238),
        rgb(72, 117, 114),
        rgb(110, 168, 168),
        rgb(0, 0, 0)
      );
    "
    class="w-25 h-100 d-flex flex-column"
  >
    <div
      class="h-25 w-100 d-flex flex-column justify-content-center align-items-center"
    >
      <div>Welcome,User id!</div>
      <div>....User keep Continue exploring Favorites</div>
    </div>

    <div
      class="h-75 w-100 d-flex flex-column justify-content-evenly align-items-center"
    >
      <div
        style="border-top: 0.5px solid rgba(0, 0, 0, 0.205)"
        class="w-100 h-25 d-flex justify-content-center align-items-center text-white"
      >
        Profile
      </div>
      <div
        style="border-top: 0.5px solid rgba(0, 0, 0, 0.205)"
        class="w-100 h-25 d-flex justify-content-center align-items-center text-white"
      >
        Settings
      </div>
      <div
        style="border-top: 0.5px solid rgba(0, 0, 0, 0.205)"
        class="w-100 h-25 d-flex justify-content-center align-items-center text-white"
      >
        Account
      </div>
      <div
        style="border-top: 0.5px solid rgba(0, 0, 0, 0.205)"
        class="w-100 h-25 d-flex justify-content-center align-items-center text-white"
      >
        Reading List
      </div>
      <div
        style="border-top: 0.5px solid rgba(0, 0, 0, 0.205)"
        class="w-100 h-25 d-flex justify-content-center align-items-center text-white"
      >
        Favorites
      </div>
    </div>
  </div>

  <div
    style="
      background: radial-gradient(rgba(0, 0, 0, 0.493), white);
      font-family: Georgia, 'Times New Roman', Times, serif;
    "
    class="w-75 h-100"
  ></div>
</div>
